{% extends 'base.html' %} 
{% block content %}

  <div class="container">
    <h1 class="text-center">Lista de Tareas</h1>

    <div class="card-deck mx-auto">
      {% for task in tasks %}
        <div class="card mb-3 text-center">
          <div class="card-body">
            <h5 class="card-title">
              <a href="{% url 'task_detail' task.id %}">
                {% if task.important %}
                  <strong>{{ task.title }}</strong>
                {% else %}
                  {{ task.title }}
                {% endif %}
              </a>
            </h5>
            <p class="card-text">{{ task.description }}</p>
            <small class="text-muted">{{ task.datecompleted|date:'M j, Y H:i' }}</small>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>

{% endblock %}
